<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ggT-Berechnung: Ergebnis</title>
    <meta charset="utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../ggt-stil.css">
</head>
<body>

    <h1>ggT-Berechnung: Ergebnis</h1>

    <p>
        Der ggT von 
        <span th:text="${#numbers.formatDecimal(zahl_1, 0, 'POINT', 0, 'COMMA')}"></span>
        und
        <span th:text="${#numbers.formatDecimal(zahl_2, 0, 'POINT', 0, 'COMMA')}"></span>
        ist:
        <span class="fett" th:text="${#numbers.formatDecimal(ggt, 0, 'POINT', 0, 'COMMA')}"></span>
    </p>
    <br><br>

    <a href="/formular.html">Weitere Berechnung durchführen</a>

</body>